body {
  font-family: 'monospace';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
  background-color: #7dd8cf;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a, href {
  text-decoration: none;
  color: #404040;
}

.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.25rem;
  border: 0.1rem #404040 solid;
  background-color: #7dd8cf;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #f132c1;
  width: 1.5rem;
}
button.remove {
  background-color:gray;
  width: 1.5rem;
}
button.badge {
  background-color: gray;
  border: none;
  color:black;
  width: 1.5rem;
}
